* {
  font-family: "Inter", sans-serif !important;
  padding: 0;
  margin: 0;
}

.arte-cafe {
  grid-area: arte-cafe;
  margin: 10px;
}
.arte-cafe__card {
  display: flex;
}
.arte-cafe__card img {
  height: 300px;
  border-radius: 10px;
}
.arte-cafe__card p {
  margin-left: 10px;
}

.banner {
  grid-area: banner;
  display: flex;
  border-radius: 10px;
  background-color: #80411e;
  background-size: cover;
  background-position: center;
  justify-content: end;
  height: 320px;
  margin: 0.5%;
  max-width: 100%;
  grid-column: 1/6;
}
.banner p {
  color: #ffffff;
  font-weight: bold;
  font-size: 45px;
  display: flex;
  align-items: center;
  margin-right: 10%;
  height: 85%;
}
.banner--index {
  background-image: url("../assets/index-banner.jpg");
}
.banner--quienessomos {
  background-image: url("../assets/quienessomos-banner2.jpeg");
}
.banner--productos {
  background-image: url("../assets/productos-banner.jpg");
}
.banner--resenas {
  background-image: url("../assets/resenas-banner.png");
}
.banner--contacto {
  background-image: url("../assets/contacto-banner.jpg");
  background-position: center;
}

.barra {
  grid-area: barra;
  background-color: #80411e !important;
  z-index: 1;
  width: 100%;
}
.barra__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.barra__logo h1 {
  font-weight: bold;
  font-size: 33px;
  margin-top: 5px;
  margin-left: 12px;
}
.barra__logo--fox-coffee-img, .pie__logo--fox-coffee-img {
  height: 80px;
  width: 80px;
  border-radius: 150px;
}
.barra__menuitems {
  justify-content: end;
}
.barra__menuitems a {
  margin: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
}
.barra__menuitems a:hover {
  color: #d2c1b0;
}

.navbar-toggler {
  border-color: white;
  background-color: #e4bc84;
}

.navbar-nav {
  --bs-nav-link-hover-color: #ffffff;
}

.activo {
  color: white;
  border: #e4bc84 1px solid;
  border-radius: 100px;
  padding: 10px;
}

.contacto {
  grid-area: contacto;
}
.contacto p {
  text-align: center;
}
.contacto__form {
  display: flex;
  flex-direction: column;
  margin: 0.5%;
  border-radius: 10px;
  background-color: #37251b;
  padding: 10px;
  align-items: center;
  max-width: 100%;
}
.contacto__form__btn {
  margin-top: 10px;
}
.contacto__form__btn button {
  width: 200px;
}
.contacto__form__input {
  width: 500px !important;
}
.contacto__form__input--mensaje {
  height: 170px !important;
}

.grid-container, .grid-container--contacto, .grid-container--resenas, .grid-container--productos, .grid-container--quienes-somos, .grid-container--index {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  overflow-y: hidden;
}
.grid-container--index {
  grid-template-areas: "barra barra barra barra barra" "banner banner banner banner banner" "productos productos productos productos productos" "arte-cafe arte-cafe arte-cafe arte-cafe arte-cafe" "visitanos visitanos visitanos visitanos visitanos" "pie pie pie pie pie";
}
.grid-container--quienes-somos {
  grid-template-areas: "barra barra barra barra barra" "banner banner banner banner banner" "historia historia historia historia historia" "visitanos visitanos visitanos visitanos visitanos" "pie pie pie pie pie";
}
.grid-container--productos {
  grid-template-areas: "barra barra barra barra barra" "banner banner banner banner banner" "nuestros-productos nuestros-productos nuestros-productos nuestros-productos nuestros-productos" "visitanos visitanos visitanos visitanos visitanos" "pie pie pie pie pie";
}
.grid-container--resenas {
  grid-template-areas: "barra barra barra barra barra" "banner banner banner banner banner" "resenas resenas resenas resenas resenas" "visitanos visitanos visitanos visitanos visitanos" "pie pie pie pie pie";
}
.grid-container--contacto {
  grid-template-areas: "barra barra barra barra barra" "banner banner banner banner banner" "contacto contacto contacto contacto contacto" "visitanos visitanos visitanos visitanos visitanos" "pie pie pie pie pie";
}

.historia {
  grid-area: historia;
}
.historia__collection {
  width: 100%;
}
.historia__collection img {
  height: 320px;
  margin: 5px;
  border-radius: 10px;
}
.historia__collection_card, .historia__collection_card--two {
  display: flex;
  background-color: #faebd7;
  padding: 5px;
  width: 100%;
  align-items: center;
  border-radius: 50% solid white;
  max-width: 100%;
}
.historia__collection_card--two {
  text-align: end;
  margin-top: 20px;
}

.nuestros-productos {
  grid-area: nuestros-productos;
}
.nuestros-productos__collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nuestros-productos__collection__item {
  margin-top: 20px;
  text-align: center;
  height: 330px;
  font-weight: bold;
}
.nuestros-productos__collection__item img {
  height: 275px;
}

.pie {
  grid-area: pie;
  background-color: #80411e;
  display: flex;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  font-weight: bold;
}
.pie__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.pie__logo p {
  margin-top: 15px;
  margin-left: 5px;
}
.pie__redessociales_logo {
  height: 70px;
  width: 70px;
}

.productos {
  grid-area: productos;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-column: 1/6;
}
.productos__collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.productos__collection__card {
  height: 395px;
  width: 400px;
  text-align: center;
  margin: 10px;
}
.productos__collection__card img {
  height: 300px;
  width: 350px;
  border-radius: 10px;
  max-width: 100%;
}
.productos__collection__card p {
  margin-top: 5px;
}

.resenas {
  grid-area: resenas;
}
.resenas__collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.resenas__collection__card {
  border: 1px solid #37251b;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  height: 320px;
  width: 370px;
  text-align: center;
  background-color: #37251b;
  color: #ffffff;
  max-width: 100%;
  padding: 5px;
}
.resenas__collection__card img {
  height: 130px;
  border-radius: 70px;
}

.bi-star-fill {
  color: #ffd900;
}

.bi-star-half {
  color: #ffd900;
}

.titulo {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.visitanos {
  grid-area: visitanos;
  align-items: center;
  justify-content: center;
  margin: 0.5%;
  background-color: #d2c1b0;
  padding: 1%;
  border-radius: 10px;
  margin-top: 10px;
}
.visitanos__collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.visitanos__collection iframe {
  margin-bottom: 20px;
  border-radius: 10px;
}
.visitanos__collection-items {
  display: flex;
  flex-wrap: wrap;
}
.visitanos__collection--direccion {
  display: flex;
  align-items: last baseline;
}
.visitanos__collection--horario {
  display: flex;
  align-items: last baseline;
}
.visitanos__collection--horario img {
  margin-right: 10px;
  width: 30px;
}

@media (max-width: 480px) {
  .barra__logo img {
    height: 55px;
    width: 55px;
  }
  .barra__logo h1 {
    font-size: 27px;
  }
  .banner p {
    margin-left: 1%;
  }
  .arte-cafe__card img {
    max-width: 100%;
  }
  .pie {
    flex-direction: column;
  }
  .pie img {
    height: 55px;
    width: 55px;
  }
  .contacto__form__input {
    width: 300px !important;
  }
}
@media (max-width: 340px) {
  .grid-container--index {
    overflow-x: hidden;
  }
  .grid-container--quienes-somos {
    overflow-x: hidden;
  }
  .grid-container--productos {
    overflow-x: hidden;
  }
  .grid-container--resenas {
    overflow-x: hidden;
  }
  .grid-container--contacto {
    overflow-x: hidden;
  }
  .barra__logo {
    justify-content: space-evenly;
  }
  .barra__logo img {
    height: 40px;
    width: 40px;
  }
  .productos__collection__card p {
    display: none;
  }
  .productos__collection__card {
    height: 100%;
  }
  .resenas__collection__card {
    height: 100%;
    width: 100%;
  }
  .resenas__collection__card__persona {
    height: 100%;
    max-width: 100%;
  }
  .resenas__collection__card__persona img {
    max-width: 100%;
  }
  .resenas__collection__card svg {
    max-width: 100%;
  }
  .resenas_collection__card__texto {
    display: none;
  }
  .contacto__form__input {
    width: 200px !important;
  }
}
@media (max-width: 768px) {
  .grid-container--index {
    grid-template-areas: "barra barra" "banner banner" "productos productos" "arte-cafe arte-cafe" "visitanos visitanos" "pie pie";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .grid-container--quienes-somos {
    display: grid;
    grid-template-areas: "barra barra" "banner banner" "historia historia" "visitanos visitanos" "pie pie";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .grid-container--productos {
    grid-template-areas: "barra barra" "banner banner" "nuestros-productos nuestros-productos" "visitanos visitanos" "pie pie";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .grid-container--resenas {
    grid-template-areas: "barra barra" "banner banner" "resenas resenas" "visitanos visitanos" "pie pie";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .grid-container--contacto {
    grid-template-areas: "barra barra" "banner banner" "contacto contacto" "visitanos visitanos" "pie pie";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .banner--index {
    background-position: left;
  }
  .banner--quienessomos {
    background-position: right;
  }
  .arte-cafe__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .arte-cafe__card p {
    margin-top: 10px;
  }
  .visitanos__collection iframe {
    max-width: 100%;
  }
  .visitanos_collection__items {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .visitanos__collection--horario {
    justify-content: center;
  }
  .historia__collection_card, .historia__collection_card--two {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .historia__collection_card img, .historia__collection_card--two img {
    height: 300px;
    max-width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
