//Colores
$color-:(
    barra-banner-footer: #80411e,
    menuitem-visitanos: #d2c1b0,
    navbar-activo: #e4bc84,
    resenas-contacto-card: #37251b,
    star: #ffd900,
);

//Imágenes del Banner
$img-index-banner: url('../assets/index-banner.jpg');
$img-quienessomos-banner: url('../assets/quienessomos-banner.jpeg');
$img-productos-banner: url('../assets/productos-banner.jpg');
$img-resenas-banner: url('../assets/resenas-banner.jpg');
$img-contacto-banner: url('../assets/contacto-banner.png');