.contacto{
    grid-area:contacto;
    
    p{
        text-align: center;
    }

    &__form{
        display: flex;
        flex-direction: column;
        margin: 0.5%;
        border-radius: 10px;
        background-color: map-get($color-, resenas-contacto-card);
        padding: 10px;
        align-items: center;
        max-width: 100%;

        &__btn{            
            button{
                width: 200px;
                transition: all 0.2s ease-in-out !important;
                
                &:hover{
                    transform:scale(1.1) !important;
                }
            }
        }
    }

    &__form__input{
        width: 500px !important;

        &--mensaje{
            height: 170px !important;
        }
    }    
}