.nuestros-productos{
    grid-area: nuestros-productos;

    &__collection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &__item{
            margin-top:20px;
            text-align: center;
            height: 330px;
            font-weight: bold;

            img{
                height: 275px;
            }
        }
    }
}