.resenas{
    grid-area:resenas;

    &__collection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &__card{
            border: 1px solid #37251b;
            border-radius: 10px;
            margin: 10px 10px 10px 10px;
            @include establecerAltoAncho(320px, 370px);
            text-align: center;
            background-color: map-get($map: $color-, $key: resenas-contacto-card);
            color: #ffffff;
            max-width: 100%;
            padding:5px;

            img{
                height: 130px;
                border-radius: 70px;
            }
        }
    }
}

//Estilos aplicados específicamente a íconos de Bootstrap que se utilizan en las reseñas.
.bi-star-fill{
    color: map-get($map: $color-, $key: star);
}
.bi-star-half{
    color: map-get($map: $color-, $key: star);
}